@use "../abstracts/" as *;

.page-zoos {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .main {
    @include flex-column-center;
    width: 100%;
    flex: 1;

    .title-container {
      @include flex-row-center;
      gap: 55px;

      .title {
        color: $turquoise;
        flex: 1;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 54px;
      }

      button {
        width: 240px;
        height: 56px;
        font-weight: 600;
        font-size: 18px;
        text-transform: uppercase;
      }
    }
  }
}
